html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.Canvas2DStyle, .Canvas3DStyle{
  border: 1px solid  darkblue;
  /* position: absolute; */
   width: 500px; 
}


.ControlsStyle{
  border: 1px solid  darkblue;
  /* position: absolute; */
   width: 100px; 
}


