html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.Canvas3DStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 500px; 
}

.Canvas2DStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 400px; 
}

.ControlsStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 100px; 
   /* vertical-align: top; */
   height: 400px;
}


