html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.Canvas3DStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 500px; 
   text-align: center;
}

.Canvas2DStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 400px; 
   text-align: center;
}

.ControlsStyle{
  /* border: 1px solid  darkblue; */
  /* position: absolute; */
   width: 100px; 
   /* vertical-align: top; */
   height: 550px;
}

  /* TEST below code from : https://codereview.stackexchange.com/questions/217616/onclick-radio-buttons-to-change-background-color */

.button {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin: 10px;
  left: 15px;
  cursor: pointer;
}

.button span {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  /* top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s; */
}

/* .button span:hover {
  padding: 10px;
} */

.red .button span {
  background: #eb3323;
}

.green .button span {
  background: #75fa4c;
}

.blue .button span {
  background: #001cf5;
}



.layer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}

/* .orange input:checked ~ .layer {
  background: #F4511E;
}

.amber input:checked ~ .layer {
  background: #FFB300;
} */